<a href="https://colab.research.google.com/github/imranahme/redi_python_Imran/blob/master/C%3A%5CImran%20git%5CImran_Redi_Copy_of_Lesson5_Func_Class_Obj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Functions, Classes and Objects</h1>

In this notebook we'll learn about functions in python and an introduction object-oriented programming in python.

**At the end of the notebook, you'll find some exercises. Those exercise are to be solved as part of the homework!**

# Functions

In [0]:
def my_func(parameter_a, parameter_b="some value"):
    variable_c = 10

    print("Parameter A has value: {}".format(parameter_a))

    print("Parameter B has value: {}".format(parameter_b))

    return variable_c

In [0]:
my_func(parameter_a=20, parameter_b="my_value")

Parameter A has value: 20
Parameter B has value: my_value

10

In [0]:
# example 1
def clear_data(word):
  punctations = [".", ",", "!"]
  for punc in punctations:
      word = word.replace(punc, ' ')
  return word

In [0]:
# example 2
def printme(a_string):
  print(a_string)

printme("My name is Danial")

My name is Danial

In [0]:
import datetime

# example 3
def printDate():
  print(datetime.datetime.now())

printDate()

2020-04-16 18:01:46.179742

In [0]:
# example 4
def getNameAndAge():
  name = "danial"
  age = 28

  return name, age

NAME, AGE = getNameAndAge()

print(NAME)
print(AGE)

danial
28

In [0]:
# Global vs. Local Variable

total = 0; # This is global variable.
# Function definition is here
def sum( arg1, arg2 ):
   # Add both the parameters and return them."
   total = arg1 + arg2; # Here total is local variable.
   print("Inside the function local total : ", total)
   return total;

# Now you can call sum function
sum( 10, 24 );
print("Outside the function global total : ", total)

Inside the function local total :  34
Outside the function global total :  0

##Classes and Objects

In [0]:
# Sample Class 1
class my_class:

    def __init__(self, parameter_1, parameter_2=20):
        self.attribute_1 = parameter_1
        self.attribute_2 = parameter_2

    def my_method(self):
        print("Do Something!!")

In [0]:
# Sample Object 1
my_object = my_class("Danial")
my_class.my_method()
print(my_class.attribute_1, my_class.attribute_2)

In [0]:
# Sample Class 2
class Parrot:

  _species = "Bird"

  def __init__(self, name, age=4):
    self.name = name
    self.age = age
  
  def sings(self, song):
    print("The parrot {} sings the song {} and is {} years old".format(self.name, song, self.age))

In [0]:
# Sample Object 2
my_parrot = Parrot("ABC", 8)
my_parrot.sings("Despacito")
print(my_parrot.name, my_parrot.age)
my_parrot.__class__._species = "Fish"
print(my_parrot.species)
another_parrot = Parrot("Mithu", 5)
another_parrot.sings("Despacito")
print(another_parrot.name, another_parrot.age)
print(another_parrot.__class__._species)

The parrot ABC sings the song Despacito and is 8 years old
ABC 8
Fish
The parrot Mithu sings the song Despacito and is 5 years old
Mithu 5
Fish

In [0]:
parrot_2 = Parrot("fgh")
print(parrot_2.name, parrot_2.age)
parrot_2.species

fgh 4

'Fish'

In [0]:
# Sample Class 3
import random
class Employee:
  empCount = 0

  def __init__(self, name, age, designation, salary):
    self.name = name
    self.age = age
    self.designation = designation
    self.salary = salary
    Employee.empCount += 1
  
  def displayCount(self):
    print("Total Employee %d" % Employee.empCount)

  def displayEmployee(self):
    print("Name : ", self.name,  ", Salary: ", self.salary)
  
  def requestForRaise(self):
    print("Employee ", self.name, " requested a raise!")
    emp_performance = random.randint(1, 10)
    if emp_performance < 5:
      print("Sorry, request rejected due to inadequate performance!")
    elif 4 > emp_performance < 8:
      print("Congratulations, 5% raise approved!")
    else:
      print("You are a model employee, 10% raise approved!!")

In [0]:
emp_performance > 4 and emp_performance < 8

In [0]:
# Sample Object 3
employee1 = Employee("Danial", 28, "Volunteer", 0)
employee2 = Employee("Michael", 30, "Volunteer", 0)
employee3 = Employee("XYZ", 34, "Student", 300)

employee3.displayCount()

Total Employee 7

In [0]:
employee1 = Employee("ukl", 28, "Volunteer", 0)
Employee.empCount

4

In [0]:
employee1.requestForRaise()

Employee  Danial  requested a raise!
You are a model employee, 10% raise approved!!

##Exercises

Please only write your code in between the lines enclosed by

**INSERT YOUR CODE HERE**



**YOUR CODE ENDS**

<h2>Sample Exercise<h2>

In [0]:
# Returns the product of numbers in the list
def list_prod(list_of_numbers):
  ### INSERT YOUR CODE HERE ###
  
  product = 1
  for number in list_of_numbers:
    product *= number
  
  return product

  ### YOUR CODE ENDS ###

Once you have added your code in the previous cell. Run the cell below to test your code on given examples.

In [0]:
print("The product of numbers {} is {}. Your implementation returns {}".format([1, 2, 3], 6, list_prod([1, 2, 3])))
print("The product of numbers {} is {}. Your implementation returns {}".format([5, 2, 3, 10], 300, list_prod([5, 2, 3, 10])))
print("The product of numbers {} is {}. Your implementation returns {}".format([5, 2, 3, -1], -30, list_prod([5, 2, 3, -1])))
print("The product of numbers {} is {}. Your implementation returns {}".format([123, 344, 98], 4146576, list_prod([123, 344, 98])))

The product of numbers [1, 2, 3] is 6. Your implementation returns 6
The product of numbers [5, 2, 3, 10] is 300. Your implementation returns 300
The product of numbers [5, 2, 3, -1] is -30. Your implementation returns -30
The product of numbers [123, 344, 98] is 4146576. Your implementation returns 4146576

In [0]:
def test_list_prod(list_of_numbers, correct_answer):
  print("The product of numbers {} is {}. Your implementation returns {}".format(list_of_numbers, correct_answer, list_prod(list_of_numbers)))

test_list_prod([1,2,3], 6)

The product of numbers [1, 2, 3] is 6. Your implementation returns 6

In [0]:
assert list_prod([1, 2, 3]) == 6, "Invalid Implementation!!"
assert list_prod([5, 2, 3, 10]) == 300, "Invalid Implementation!!"
assert list_prod([5, 2, 3, -1]) == -30, "Invalid Implementation!!"

print("Tests were successful!")

Tests were successful!

<h2>Functions</h2>

In [0]:
# Returns absolute difference between number1 and number2
def abs_diff(number_1, number_2):
  ### INSERT YOUR CODE HERE ###
  if number_1 > number_2:
    return number_1 - number_2
  else:
    return number_2 - number_1
  

  ### YOUR CODE ENDS ###

Once you have added your code in the previous cell. Run the cell below to test your code on given examples.

In [0]:
print("The absolute difference between {} and {} is {}. Your implementation returns {}".format(2, 6, 4, abs_diff(2, 6)))
print("The absolute difference between {} and {} is {}. Your implementation returns {}".format(123, 10, 113, abs_diff(123, 10)))
print("The absolute difference between {} and {} is {}. Your implementation returns {}".format(23, 64, 41, abs_diff(23, 64)))
print("The absolute difference between {} and {} is {}. Your implementation returns {}".format(-15, 0, 15, abs_diff(-15, 0)))

The absolute difference between 2 and 6 is 4. Your implementation returns 4
The absolute difference between 123 and 10 is 113. Your implementation returns 113
The absolute difference between 23 and 64 is 41. Your implementation returns 41
The absolute difference between -15 and 0 is 15. Your implementation returns 15

In [0]:
# Returns true, if list contains 0 otherwise returns false
def has_zero(list_of_numbers):
  ### INSERT YOUR CODE HERE ###

  list_has_zero = False
  for number in list_of_numbers:
    if number == 0:
      list_has_zero = True

  return list_has_zero
  

  ### YOUR CODE ENDS ###

Once you have added your code in the previous cell. Run the cell below to test your code on given examples.

In [0]:
print("Answer is {} for list {}. Your implementation returns {}".format(False, [1, 2, 3], has_zero([1, 2, 3])))
print("Answer is {} for list {}. Your implementation returns {}".format(True, [34, 0, -23, 0, 32], has_zero([34, -23, 0, 32])))
print("Answer is {} for list {}. Your implementation returns {}".format(True, [0, 34, 78, 2, 3], has_zero([0, 34, 78, 2, 3])))
print("Answer is {} for list {}. Your implementation returns {}".format(True, [-23, 2, 56, 0], has_zero([-23, 2, 56, 0])))

Answer is False for list [1, 2, 3]. Your implementation returns False
Answer is True for list [34, 0, -23, 0, 32]. Your implementation returns True
Answer is True for list [0, 34, 78, 2, 3]. Your implementation returns True
Answer is True for list [-23, 2, 56, 0]. Your implementation returns True

<h2>Classes and Objects</h2>

In the below cell, write a class for your (actual or imaginary) pet. Following requirements should be fulfilled:

*   The class should have atleast three attributes
*   The class should have atleast three methods, apart from __init__
*   Atleast one of the three methods should take some parameter and use it

In [0]:

### INSERT YOUR CODE HERE ###


class Pets:
  def __init__(self, animal):
    self.animal = animal
# Function to analyze what meal needed by the pet
  def meal_repository(self, meal_time):
    
    if self.animal == "Rabbit":
        
        Rabbit_breakfast = "fresh grass"
        Rabbit_lunch = "fresh veg"
        Rabbit_dinner = "high-fibre pellets"
        suggested_feed = "0"

        if meal_time == "breakfast":
            suggested_feed = Rabbit_breakfast
        elif meal_time == "lunch":
            suggested_feed = Rabbit_lunch
        elif meal_time == "dinner":
            suggested_feed = Rabbit_dinner
                
        print("For your pet", self.animal, ", needs food for its ", meal_time, "time and needs to be served with", suggested_feed)

    if self.animal == "Cat":
        
        Cat_breakfast = "fresh grass"
        Cat_lunch = "fresh veg"
        Cat_dinner = "high-fibre pellets"
        suggested_feed = "0"

        if meal_time == "breakfast":
            suggested_feed = Cat_breakfast
        elif meal_time == "lunch":
            suggested_feed = Cat_lunch
        elif meal_time == "dinner":
            suggested_feed = Cat_dinner
                
        print("For your pet", self.animal, ", needs food for its ", meal_time, "time and needs to be served with", suggested_feed)

    if self.animal == "Mice":
        
        Mice__breakfast = "fresh grass"
        Mice__lunch = "fresh veg"
        Mice__dinner = "high-fibre pellets"
        suggested_feed = "0"

        if meal_time == "breakfast":
            suggested_feed = Mice__breakfast
        elif meal_time == "lunch":
            suggested_feed = Mice__lunch
        elif meal_time == "dinner":
            suggested_feed = Mice__dinner
                
        print("For your pet", self.animal, ", needs food for its ", meal_time, "time and needs to be served with", suggested_feed)
# function for toys needed by which pet for playing
  def pet_toys(self):
    
        if self.animal == "Rabbit":
            
            Rabbit_toy = "woven grass ball"
            
            print("Your pet", self.animal, ", needs to play with ", Rabbit_toy)

        if self.animal == "Cat":
            
            Cat_toy = "Ball"
            
            print("Your pet", self.animal, ", needs to play with ", Cat_toy)

        if self.animal == "Mice":
            
            Mice_toy = "rawhide chews"
            
            print("Your pet", self.animal, ", needs to play with ", Mice_toy)
# Function for which pet sounds what type of voice for calling
  def pet_sound(self):
    
        if self.animal == "Rabbit":
            
            Rabbit_sound = "Squeak"
            
            print("Your pet", self.animal, ", sounds as", Rabbit_sound)

        if self.animal == "Cat":
            
            Cat_sound = "Mew"
            
            print("Your pet", self.animal, ", sounds as", Cat_sound)

        if self.animal == "Mice":
            
            Mice_sound = "Squeal"
            
            print("Your pet", self.animal, ", sounds as", Mice_sound)


### YOUR CODE ENDS ###

In the below cell, instantiate an object of your class and show examples of how you'd use it.

In [4]:
### INSERT YOUR CODE HERE ###

# Provide any of the three pets that are Raabit / Cat / Mice into following code and fetch information for meal, playings toys and their sound

a = Pets("Rabbit")
a.meal_repository("breakfast")
a.meal_repository("lunch")
a.meal_repository("dinner")
a.pet_toys()
a.pet_sound()

### YOUR CODE ENDS ###

For your pet Rabbit , needs food for its  breakfast time and needs to be served with fresh grass
For your pet Rabbit , needs food for its  lunch time and needs to be served with fresh veg
For your pet Rabbit , needs food for its  dinner time and needs to be served with high-fibre pellets
Your pet Rabbit , needs to play with  woven grass ball
Your pet Rabbit , sounds as Squeak